@import url('https://fonts.googleapis.com/css?family=Raleway:');

@keyframes floating {
  0% {
    transform: translateY(-10px) rotate(0deg) translateX(-10px);
  }

  50% {
    transform: translateY(10px) rotate(2deg) translateX(10px);
  }

  100% {
    transform: translateY(-10px) rotate(0deg) translateX(-10px);
  }
}

* {
  box-sizing: border-box;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  color-scheme: dark;
}

img {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

img::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

img::after {
  content: "?";
  text-shadow: 1px 1px 0px #9f9f9f;
  text-align: center;
  font-size: 2rem;
  color: rgb(100, 100, 100);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}