@import url('https://fonts.googleapis.com/css?family=Raleway:');

@keyframes floating {
  0% {
    transform: translateY(-10px) rotate(0deg) translateX(-10px);
  }

  50% {
    transform: translateY(10px) rotate(2deg) translateX(10px);
  }

  100% {
    transform: translateY(-10px) rotate(0deg) translateX(-10px);
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }

  50% {
    transform: translate3d(0, 5px, 0);
  }
}

* {
  box-sizing: border-box;
  user-select: none;
}

:root {
  --bottom-nav-height: 56px;
  --bottom-nav-space: 2rem;
  --now-playing-widget-height: calc(var(--bottom-nav-height) * 1.2);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  color-scheme: dark;
}

img {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

img::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
}

img::after {
  content: "?";
  text-shadow: 1px 1px 0px #9f9f9f;
  text-align: center;
  font-size: 2rem;
  color: rgb(100, 100, 100);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.css-jymg5i-MuiSlider-root {
  padding: 0;
}